<h1>Welcome to the Rolodexer</h1>
<h2> Main Menu </h2>
<ul>
	<li><a href="/contacts">Contacts</a></li>
	<li><a href="contacts/new">Add a contact</a></li>
	<li><a href="/contacts/:id">View a contact</a></li>
	<li><a href="contacts/:id/edit">Edit a contact</a></li>
</ul>
