<h1>Welcome to the <%= @crm_app_name %></h1>
<h2> Main Menu </h2>
<ul>
	<li><a href="/contacts">View all contacts</a></li>
	<li><a href="contacts/new">Add a contact</a></li>
	<li><a href="/contacts/:id">View a contact</a></li>
	<li><a href="contacts/:id/edit">Edit a contact</a></li>
</ul>
