<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css" />
		<title>Rolodexer</title>
	</head>
	<body>
			<nav class="navbar">
				<h1><a href="/">Rolodexer</a></h1>
				<ul>
					<li><a href="/contacts/:id/edit">// Edit</a></li>
					<li><a href="contacts/:id">// View</a></li>
					<li><a href="contacts/new">// Add</a></li>
					<li><a href="/contacts">// Contacts</a></li>
					<li><a href="/">// Home</a></li>
			</ul>
			</nav>
	 	<%= yield %>
	</body>
</html>