<h1>Create a new Contact</h1>
<form action="/contacts" method="post">
	<span>First name: </span><input type="text" name="first_name">
	<span>Last name: </span><input type="text" name="last_name">
	<span>Email: </span><input type="text" name="email">
	<span>Note: </span></span><textarea placeholder="Enter your note..."id="feedback" name="feedback"></textarea>
	<input type="submit" name="Submit">
</form>

