<h1>Create a new Contact</h1>
<form class="add" action="/contacts" method="post">
	<span>First name: </span><input type="text" name="first_name">
	<span>Last name: </span><input type="text" name="last_name">
	<span>Email: </span><input type="text" name="email">
	<span>Note: </span></span><textarea placeholder="Enter your note..."id="note" name="note"></textarea>
	<label for="personal">Personal Aquaintance</label><input id="personal" type="checkbox" name="personal" value="true" >
	<label for="business">Business Aquaintance</label><input id="business" type="checkbox" name="business" value="true" >
	<input type="submit" name="Submit">
</form>

