body {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Josefin Slab', serif;
}

a {
	text-decoration: none;
	color: #676666;
}

a:hover {
	color:red;
}

li {
	list-style: none;
	color: #676666;
}
h1 {
	color: #676666;
	text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid #676666;
  }

th {
	background-color: #676666;
	color: white;
}

td {
	color: #676666;
	text-align: right;
}

/* Form styling for adding a contact */

form {
	margin: 0 auto;
	position: relative;
	width: 400px;
	height: 450px;
	font-family: 'Josefin Slab', serif;
	font-size:14px;
	font-style: italic;
	line-height: 24px;
	color: #676666;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #676666;
	box-shadow: 0px 0px 1px 
}

input {
	width: 375px;
	margin: 10px;
	display: block;
	border: 1px solid #676666;
	border-radius: 5px;
	height: 20px;
	
}

textarea {
	width: 375px;
	display: block;
	border: 1px solid #676666;
	border-radius: 5px;
	height: 60px;
	margin: 10px;
}

textarea:focus, input:focus {
	border: 1px solid #09C;
	border-radius: 5px;
}



.contact-container {
	width: 0 auto;
	margin: 20px;
}

.contact {
	margin: 20px;
	float: left;
}

.data {
	text-align: center;
}

.main-menu{
	border: 1px  solid #676666;
	border-radius: 5px;
	margin: 20px auto;
	width: 50%;
}

.main-menu h2 {
	text-align: center;
	color: #676666;
}

.buttons ul {
	padding: 0;
}

.buttons li {
	border: 1px solid #676666;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	margin-top: 5px;
	width: 120px;
}

.navbar {
	position: relative;
	width: 100%;
	height: 50px;
	padding: 0;
	margin-top: -20px;
	background-color: #676666;
	list-style: none;
}


.navbar h1 {
	color: white;
	float: left;
	margin: 28px 0 0 20px;
}
.navbar li {
	float: right;
	list-style: none;
	margin: 38px 30px 0 0;
	color: white;
}

.navbar a {
	display: inline;
	text-decoration: none;
	color: white;
}

.navbar a:hover < h1 {
	color: white;
}

.navbar a:hover {
	color: red;
}

